
.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container{
    width: 400px;
    margin: auto;
}

.ui.teal.button:focus, ul.teal.buttons button:focus{
    background-color: #00b5ad;
}

.intro {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 85vh;
    min-height: 400px;
    background-color: teal;
    display: flex;
    flex-direction: row;
    padding: 4%;
    padding-left: 10vw;
    color:white;
}

.intro-appear {
    opacity: 0.01;
}

.intro-appear.intro-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

.intro-description {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.intro-description h1 {
    font-size: 2vw;
}

.intro-description h5 {
        width: 70%;
        font-size: 1.5vw;
        font-weight: 200;
        margin-top: 1vw;
}

.intro-description h2 {
    margin-top: 2vw;
    font-size: 2vw;
}

.vic{
    text-decoration: underline;
}

.vic:visited{
    color: white;
}

.vic:hover{
    color: orange;
}

.intro-button{
    margin-top: 2vw;
}

.parrot-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color: white;
    width: 30vw;
    height: 30vw;
    min-width: 150px;
    min-height: 150px;
    padding: 5vw;
}

.footer-big {
    display: none;
    background-color: rgb(246, 196, 30);
    position: absolute;
    left: 0;
    margin-top: 85vh;
    width: 100vw;
    padding: 1.5%;
    padding-left: 9.5%;
    display: flex;
    flex-direction: row;
}

.tech{
    margin-right: 40%;
}

.tech h3 {
    padding-left: 7%;
} 

.tech-col{
    margin-top: 1vw;
}

.tech-col a {
    padding-left: 1vw;
}

.tech-col img {
    background-color: white;
    border-radius: 50%;
    padding: 3%;
}

.tech-col img:hover {
    transform: scale(1.2, 1.2);
}

.feat {
    margin-right: 2%;
}
.feat h3 {
    padding-left: 12%;
}

.feat ul li:hover {
    color: teal;
}

.coming h3 {
    padding-left: 7.5%;
}

.coming ul li:hover {
    color: teal;
}
